<%if flash.has?(:message)%>
<%=flash[:message]%>
<%end%>

<% if flash.has?(:choose_one) %>
  <%=flash[:choose_one]%>
<%end%>

<% if flash.has?(:workout_create_message) %>
  <%=flash[:workout_create_message]%>
<%end%>


<h2>Create a new workout!</h2>
<p>If you're going to create a new exercise, do so before filling out the rest of the form!</p>
<form class="" action="/workouts" method="post">
  <label for="workouts[name]">Name:</label>
  <input type="text" name="workouts[name]" value=""><br><br>
  <h4>Choose a workout category!</h4><br>
  <% WORKOUT_TYPES.each do |work|%>
    <input id="<%=work%>" type="radio" name="workouts[category]" value="<%=work%>"><%=work%></input>
  <%end%>
  <br><br>
  <h4>Choose existing exercises to add!</h4> <%# remember need to make exercise category shown somehow %>
  <%@all_exercises.each do |cise|%>
    <input id="<%=cise.name%>" type="checkbox" name="exercises[]" value="<%=cise.id%>"><%=cise.name%></input>
  <%end%>
  <br><br>
      <input type="submit" name="" value="Create New Workout">
</form>
<br><br>
<h4>Create new exercise!</h4>
  <form class="" action="/workouts/exercises/new" method="post"> <%# nested form %>
    <label for="exercise[name]">Name:</label>
    <input type="name" name="exercise[name]" value="">
    <label for="exercise[sets]">Number of sets:</label>
    <input type="text" name="exercise[sets]" value="3">
    <label for="exercise[reps]">Number of reps:</label>
    <input type="text" name="exercise[reps]" value="10"><br>
    <label for="exercise[category]">Category:</label>
    <% EXERCISE_TYPES.each do |work|%>
      <input id="<%=work%>" type="radio" name="exercise[category]" value="<%=work%>"><%=work%></input>
    <%end%>
    <input type="submit" name="" value="Add New Exercise">
  </form>
