
<h2>Hello, <%= current_user.username %></h2>

<h2>Edit workout below!</h2>

<form action="/workouts/<%= current_workout.slug %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <label for="workout[name]">Name:</label>
  <input type="text" name="workout[name]" value="<%= current_workout.name %>">
  <br><br>
  <h4>Choose a workout category!</h4><br>
  <% Workout.category.each do |category| %>
    <input id="<%= category %>" type="radio" name="workout[category]" value="<%= category %>" <%= 'checked' if current_workout.category.include?(category) %>><%= category %></input>
  <% end %>
  <br><br>
  <h4>Choose existing exercises to add!</h4>
  <% @all_exercises.each do |exercise| %>
    <input id="<%= exercise.name %>" type="checkbox" name="workout[exercise_ids][]" value="<%= exercise.id %>" <%= 'checked' if current_workout.exercises.include?(exercise) %>><%= exercise.category %>: <%= exercise.name %></input>&emsp;
  <% end %>
  <h4>Create new exercise!</h4>
    <label for="workout[exercise_attributes][name]">Name:</label>
    <input type="name" name="workout[exercise_attributes][name]" value="">
    <label for="workout[exercise_attributes][sets]">Number of sets:</label>
    <input type="text" name="workout[exercise_attributes][sets]">
    <label for="workout[exercise_attributes][reps]">Number of reps:</label>
    <input type="text" name="workout[exercise_attributes][reps]"><br>
    <label for="workout[exercise_attributes][category]">Category:</label>
    <% Exercise.category.each do |category| %>
      <input id="<%= category %>" type="radio" name="workout[exercise_attributes][category]" value="<%= category %>"><%= category %></input>
    <% end %>
  <br><br>
      <input type="submit" value="Update Workout">
  </form>

  <br>
  <h4>Delete Workout</h4>
  <form action="/workouts/<%= current_workout.slug %>/delete" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Workout">
  </form>
