
<h2>Enjoy <%= current_user.username %>!</h2>

<h2>Workout Name: <%= current_workout.name %></h2>
<p>Workout Category: <%= current_workout.category %></p>
<p>Created By: <%= current_workout.created_by %></p>
<h4>Workout Exercises:</h4><br>
<% current_workout.exercises.each do |exercise| %>
<ul>
  <li><a href="/exercises/<%= exercise.slug %>"><h5>Exercise Name: <%= exercise.name %></h5></li></a>
  <ul>
    <li>Exercise Category: <%= exercise.category %></li>
    <li>Number of Sets: <%= exercise.sets %></li>
    <li>Number of Reps: <%= exercise.reps %></li>
  </ul>
  <br>
</ul>
<% end %>

<form action="/workouts/<%= current_workout.slug %>/add" method="post">
  <input type="hidden" name="<%= current_workout.slug %>"  id="<%= current_workout %>">
  <input type="submit" value="Add Workout to My Workouts">
</form>
