
<h2>Hello, <%= current_user.username %></h2>
<br>
<a href="/workouts/new">Create a new workout!</a>
<br><br>
<h2>Here are all workouts users have made!</h2>
<% @all_workouts.each do |workout| %>
<ul>
  <a href="/workouts/<%= workout.slug %>"><li><%= workout.name %></li></a>
  <li>Category: <%= workout.category %></li>
  <li>Created_by: <%= workout.created_by %></li>
  <br>
</ul>
<% end %>
