<h2>Welcome,<%=@user.username%></h2>

<h4>Here are your workouts!</h4>
  <% @user.workouts.each do |workout| %>
    <a href="/workouts/<%=workout.slug%>"><%=workout.name%></a><br>
  <%end%>
  <br>
<h4>Here are all your exercises!</h4>
  <% @user.workouts.each do |exercise| %>
    <a href="/exercises/<%=exercise.slug%>"><%=exercise.name%></a><br>
  <%end%>
