
<h2>Hello, <%= current_user.username %></h2>

<h4>Workout Categories</h4>
<% Workout.category.each do |category| %>
  <a href="/categories/workouts/<%= category %>"><%= category %></a>
<% end %>
<br><br>
<h4>Exercise Categories</h4>
<% Exercise.category.each do |category| %>
  <a href="/categories/exercises/<%= category %>"><%= category %></a>
<% end %>
